
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


h1 {
    font-size: 4.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 2rem;

}




/*  start header*/


































